[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "themes"]
	path = themes
	url = https://github.com/getpelican/pelican-themes
[submodule "themes/elegant"]
	path = themes/elegant
	url = git@github.com:talha131/pelican-elegant.git
