ghp-import
fabric

# Require by pelican
# rst do not support pelican>=4
pelican<4
webassets
# markdown-newtab do not support Markdown>=3
Markdown<3
feedgenerator
Jinja2
docutils
pygments
Typogrify
pelican-gist
watchdog
beautifulsoup4

docopt
pyquery
cssutils
markdown-css
markdown-newtab
