ghp-import
fabric

# Require by pelican
# rst do not support pelican>=4
pelican<4
webassets
# markdown-newtab do not support Markdown>=3
Markdown<3
cssutils
feedgenerator
Jinja2
docutils
pygments>2.3.0
Typogrify
pelican-gist
watchdog
beautifulsoup4

docopt
pyquery
markdown-css
markdown-newtab

premailer
