body {
    color: #666;
    font-family: "微软雅黑", "Helvetica Neue", Tahoma, Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 28px;
}
#banner {
    color: #6a9fb5;
    padding: 5px 100px;
    border-bottom:1px solid #eee;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 800;
}

#banner .site-title {
    margin: 0;
    font-size: 3em;
    font-weight: 500;
}

#banner .site-subtitle {
    margin-left: 15px;
    font-size: 1.5em;
    color: #ccc;
}

#banner a:visited {
    color: #6a9fb5;
}

.post-date{
    color: #9a9a9a;
}

.entry-info {
    color: #9a9a9a;
}

.entry-content {
    font-size: 15px;
    line-height: 1.8;
}

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  font-size: 15px;
  color: #777777; }
blockquote > :first-child {
margin-top: 0; }
blockquote > :last-child {
margin-bottom: 0; }

footer {
    text-align: right;
}

.toc {
    border: 1px solid #ccc;
    padding: 5px;
    float: right;
}

.tag {
    margin: 5px;
}

.entry-content img {
    max-width: 100%; 
    height: auto;

    border-radius: 10px;
    border: 3px #e0dfcc;
    border-style: solid;
    padding: 3px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

pre {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: pre;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
    font-size: 14px;
    /* NOTE(jeffrey4l): this prevent the y-scroll in chrome, no idea why ;(. */
    margin: 10px 1px;
}

h2 {
    border-left: solid 8px #299480;
    color: #3AAA7D;
    font-size: 22px;
    line-height: 1.6;
    padding: 2px 0px 0px 10px;
}

h3 {
    border-left: solid 8px #1A95A5;
    color: #26c6da;
    font-size: 18px;
    line-height: 1.5;
    padding: 2px 0px 0px 10px;
}

.qrcode {
    display: block;
    width: 100%;
    height: auto;
}

a.footnote-ref{
    margin: 0 2px;
}

a.footnote-ref:before {
    content: "[";
}

a.footnote-ref:after {
    content: "]";
}

.footnote {
    word-break: break-word;
}

.footnote p {
    margin: 0;
}

.copyright {
  display: block;
  border: 1px solid #ccc;
  padding: 10px 10px 0 10px;
  color: #8c8c8c;
  margin: 0px 20px;
  border-radius: .25em!important;
}

.copyright p {
  line-height: .7em;
}
.copyright span {
  font-weight: bold;
  margin-right: 1em;
}

.copyright a {
    color: #5c5c5c;
}
