#banner {
    color: #6a9fb5;
    padding: 5px 100px;
    border-bottom:1px solid #eee;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 800;
}

#banner .site-title {
    margin: 0;
    font-size: 3em;
    font-weight: 500;
}

#banner .site-subtitle {
    margin-left: 15px;
    font-size: 1.5em;
    color: #ccc;
}

#banner a:visited {
    color: #6a9fb5;
}

.post-date{
    color: #9a9a9a;
}

.entry-info {
    color: #9a9a9a;
}

.entry-content {
    font-size: 16px;
    line-height: 1.6;
}

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
blockquote > :first-child {
margin-top: 0; }
blockquote > :last-child {
margin-bottom: 0; }

footer {
    text-align: right;
}

.toc {
    border: 1px solid #ccc;
    padding: 5px;
    float: right;
}

.tag {
    margin: 5px;
}

img.align-center {
    display: block;
    margin: 0 auto;
}
