{% extends "base.html" %}
{% block title %} {{ article.title }} - {{ super() }}{% endblock title %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}
  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}
  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-xs-12">
  <section id="content" class="body">
  <header>
    <h1 class="entry-title">{{ article.title }}</h1>
    <div class="entry-info">
      <span class="glyphicon glyphicon-list-alt"></span>
      <span class="post-date"> {{ article.locale_date }} </span>
      <!--
      <a class="post-category label label-default" href="{{ SITEURL }}/category/{{ article.category|lower }}.html">{{ article.category }}</a>
      -->
      <span class="glyphicon glyphicon-tags"></span>
      {% for tag in article.tags %}
      <a class="post-tag label label-default" href="{{ SITEURL }}/tag/{{ tag|lower }}.html">{{ tag }}</a>
      {% endfor %}
    </div>
  </header>
  <div class="entry-content">
    {% if article.toc %}
      {{ article.toc }}
    {% endif %}
    {{ article.content }}
    <div class="copyright">
      <p><span>本文标题:</span>{{ article.title }}</p>
      <p><span>文章作者:</span>{{ article.author|default('Jeffrey4l') }}</p> 
      <p><span>发布时间:</span>{{ article.locale_date }} </p>
      <p><span>最后更新:</span>{% if article.modified %}{{ article.modified|strftime(DEFAULT_DATE_FORMAT) }} {% else %} {{ article.locale_date }} {% endif %}</p>
      <p><span>原始链接:</span><a href="http://xcodest.me/{{ article.url }}" target="_blank">http://xcodest.me/{{ article.url }} </a></p>
      <p> <span>许可协议:</span><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank">"署名-非商用-相同方式共享 3.0"</a> 转载请保留原文链接及作者。</p>
    </div>
  </div><!-- /.entry-content -->
  {% if article.status == 'published' %}
  <div>
    <nav>
      <ul class="pager">
        {% if article.prev_article %}
        <li class="previous"><a href="{{ article.prev_article.url }}">&larr; Older</a></li>
        {% else %}
        <li class="previous disabled"><span href="{{ article.prev_article.url }}">&larr; Older</span></li>
        {% endif %}
        {% if article.next_article %}
        <li class="next"><a href="{{ article.next_article.url }}">Newer &rarr;</a></li>
        {% else %}
        <li class="next disabled"><span href="{{ article.next_article.url }}">Newer &rarr;</span></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endif %}
    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <div class="comments">
      <h2>Comments</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        var disqus_identifier = '{{ article.url }}';
        var disqus_url = 'http://xcodest.me/{{ article.url }}';
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
    {% endif %}
</section>
</div>
</div>
{% endblock %}
