<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% endblock head %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css" type="text/css" charset="utf-8">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" type="text/css" charset="utf-8">
        <link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/favicon.ico">
</head>

<body id="index" class="home">
    <div class="container">
        <header id="banner" class="body">
                <span class='site-title'><a href="{{ SITEURL }}/">{{ SITENAME }}</a></span><span class="site-subtitle">{{ SITESUBTITLE }}</span>
        </header>
        {% block content %}
        {% endblock %}
{% include "analytics.html" %}
    </div>
</body>
</html>
