{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div class="page-header">
      {% if category %}
      <h1>Category: {{ category }}</h1>
      {% endif %}
    </div>
    <ul class="list-group">
    {% for article in articles_page.object_list %}
      <li class="list-group-item">
        <span class="badge">{{ article.date|strftime(DEFAULT_DATE_FORMAT) }}</span>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
      </li>
    {% endfor %}
    </ul><!-- /#posts-list -->
  </div>
</div>
{% include 'pagination.html' %}
{% endblock content %}
