{% extends "base.html" %}
{% block title %}{{ super() }}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-md-12 col-xs-12">
    <ol class="breadcrumb">
      <li><a href="{{ SITEURL }}">Home</a></li>
      {% if category %}
      <li><a href="#">Category</a></li>
      <li class="active">{{ category }}</li>
      {% elif page_name == "index" %}
      <li class="active"> All Articles</li>
      {% endif %}
    </ol>
    <div class="list-group">
    {% for article in articles_page.object_list %}
        <a class="list-group-item" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}
          <span class="badge">{{ article.date|strftime(DEFAULT_DATE_FORMAT) }}</span>
        </a>
    {% endfor %}
    </ul><!-- /#posts-list -->
  </div>
</div>
{% include 'pagination.html' %}
{% endblock content %}
