{% extends "base.html" %}

{% block title %}Tags{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 col-xs-12">
    <ol class="breadcrumb">
      <li><a href="{{ SITEURL }}">Home</a></li>
      <li class="active">Tag</li>
    </ol>
    <div class="container-fluid">
      <div class="row">
    {% for tag, articles in tags|sort %}
    <a class="btn btn-default tag" href="{{ SITEURL }}/{{ tag.url }}">
      {{ tag }}
      <span class="badge">{{ articles|count }}</span>
    </a>
    {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
